*
body {
  font-family: 'Athelas';
  font-size: 22px;
  color: black;
  background-color: #edc4cd;
  clear:both;
  position: static;
  margin-top:0px;
}

main {
    padding-top: 150px;
}

footer {
  display: block;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 14px;
}
/* Photograph styles */

.musicimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: auto;
  object-fit: contain;

}

.homeimage {
 display: block;
 margin-left: auto;
 margin-right: auto;
 padding-top: 0px;
}

.contactimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.mainpostpic {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

/* Navigation Bar Styles */

ul {
  list-style-type: none;
  padding: 0;
  position: static;
  top: 2%;
  width: 98%;
}

li {
  display: block;
  float: right;
  font-size: 18px;
  font-weight: 700;
  padding-top: 10px;
}

a.navigation {
  display: block;
  padding: 9px;
  background-color: #edc4cb;
}

/*Link Styles */

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #AD1818;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #BD2020;
  text-decoration: none;
}

/* Text styles */
h1{
    font-size: 20px;
    font-weight: 700;
    margin-left: 1%;
    padding-top: 30px;
}

h2 {
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
}

.posttitle {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  line-height: 0.8;
}

/* Polaroids */

  .container {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-column-gap: 10%;
      grid-row-gap: 20px;
      padding-top: 2%;
    }

    .polaroids {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        align-content: stretch;
    }


    /* Blog posts flexbox */


    .blogpostscontainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: stretch;

    }

    .blogpostscontainer div {
      flex: 30%;
      padding: 1vw;
    }

    .blogpostscontainer a {
      background-color: #edc4cb;
      }

    .griditem {
      box-sizing: border-box;
      border: 10px solid white;
      }

    .griditem {
      width: 100%;
    }

    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
    @media (max-width: 400px) {
      .blogpostscontainer div {
        flex: 100%;
        max-width: 100%;
