*
body {
  font-family: 'Athelas';
  color: black;
  background-color: #edc4cd;
  clear:both;
  position: static;
  margin-top:0px;
}

main {
    padding-top: 10vw;
}

footer {
  display: block;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 14px;
}
/* Photograph styles */

.musicimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: auto;
  object-fit: contain;

}

.homeimage {
 display: block;
 margin-left: auto;
 margin-right: auto;
 padding-top: 0px;
}

.contactimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.mainpostpic {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

/* Navigation Bar Styles */

ul {
  list-style-type: none;
  padding: 0;
  position: relative;
  top: 2%;
  width: 98%;
}

li {
  display: block;
  float: right;
  font-size: 2.5vw;
  font-weight: 600;
  padding-top: 0.7vw;
}

a.navigation {
  display: block;
  padding: 1vw;
  background-color: #edc4cb;
}

/*Link Styles */

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #a81035;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #d190a1;
  text-decoration: none;
}

/* Text styles */
h1{
    font-size: 3vw;
    font-weight: 600;
    margin-left: 1%;
    padding-top: 1.5vw;
}

h2 {
  font-size: 2.5vw;
  font-weight: 600;
  text-align: center;
}

.posttitle {
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 0.8;
}

.gridtitle {
      display: inline-block;
      text-align: center;
      width: 100%;
      height: auto;
      padding: 0.3vw;
      margin-top: 0.7vw;
      margin-bottom: 0.5vw;
      font-size: 0.9em;
      letter-spacing: 1px;
      font-weight: 700;
      font-style: italic;
      color: black;
}

.gridtitle:hover {
  color: #a81035;
  text-decoration: none;
}
/* Polaroids */

  .container {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-column-gap: 10%;
      grid-row-gap: 20px;
      padding-top: 2%;
    }

    .polaroids {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        align-content: stretch;
    }


    /* Blog posts flexbox */


    .blogpostscontainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: stretch;

    }

    .blogpostscontainer div {
      flex: 30%;
      padding: 1vw;
    }

    .blogpostscontainer a {
      background-color: #edc4cb;
      }

    .griditem {
      box-sizing: border-box;
      border: 0em solid white;
      }

    .griditem {
      width: 100%;
    }

    .griditem:hover {
      opacity: 0.5;
    }

    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
    @media (max-width: 400px) {
      .blogpostscontainer div {
        flex: 100%;
        max-width: 100%;
