*
body {
  font-family: 'Athelas';
  color: black;
  background-color: #edc4cd;
  clear:both;
  position: static;
  margin-top: 0.5em;
}

main {
    margin-top: 8em;
}

footer {
  display: block;
  padding-top: 1em;
  padding-bottom:1em;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
}

/* Photograph styles */

.musicimage {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  height: auto;
  padding-left: 1%;
  padding-right: 1%;
}


.homeimage {
 margin: 0 auto;
 padding-bottom: 1em;
 width: 100%;
 margin-bottom: -5%;
}

.mainpostpic {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

/* Navigation Bar Styles */

ul.navigation {
  list-style-type: none;
  padding: 0;
  width: 98%;
}

li.navigation {
  display: block;
  float: right;
  font-size: 1.8em;
  font-weight: 600;

}

a.navigation {
  display: block;
  padding: 0.5em;
  background-color: #edc4cb;
}

/*Link Styles */

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #a81035;
  text-decoration: none;
}

.signature {
  display: inline-block;
  margin-left: 1%;
  max-width: 25%;
  margin-bottom: -2%;

}
/* selected link */
a:selected {
  color: #fff;
  text-decoration: none;
}

/* Text styles */
h1{
    font-size: 2.3vw;
    font-weight: 500;
    text-align: center;
    line-height: 0.9;
}

h2 {
  font-size: 3vw;
  font-weight: 600;
  text-align: center;
}

.posttitle {
    font-size: 2vw;
    font-weight: 800;
    text-align: center;
    padding-bottom: 1vw;
    line-height: 0.7;

}

.gridtitle {
      display: inline-block;
      text-align: center;
      width: 100%;
      height: auto;
      padding: 0.2vw;
      margin-top: 1vw;
      margin-bottom: 0.5em;
      font-size: 1.5em;
      letter-spacing: 1px;
      font-weight: 600;
      font-style: none;
}

.gridtitle:hover {
  color: #a81035;
  text-decoration: none;
}

    /* Blog posts grid */

      .blogpostscontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .blogpostscontainer div {
        flex: 3 29%;
        padding: 0.5em;
      }

      }
      .blogpostscontainer a {
        background-color: #edc4cb;
        }

      .griditem {
          max-width: 100%;
          height: auto;
          align-content: center;
          box-sizing: border-box;
          border: 0.3em solid white;
        }


      .griditem:hover {
        opacity: 0.5;
      }

      /* Polaroids */

        .container {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto;
            justify-content: space-evenly;
            grid-column-gap: 1em;
            grid-row-gap: 2em;
            padding-top: 2%;
            align-content: center;
            }

          .polaroids {
            max-width: 100%;
            height: auto;
            object-fit: cover;
            align-content: center;
          }

    /* Contact page styles */

    .contactimage {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1%;
      width: 50%
    }

    ul.contact {
      display: block;
      list-style-position: inside;
      padding: 0% 0 0 5%;
      list-style: none;
    }

    .contact li {
      font-size: 1em;
      font-weight: 800;
    }

    .contact a {
      display: inline-block;
      min-height: 20px;
      background-repeat: no-repeat;
      background-size: 25px 25px;
      padding: 0 0 10px 30px;
      margin: 2% 0% 0 0;
    }

    .contact li.mail a {
      background-image: url('img/mail.png');
    }

    .contact li.twitter a {
      background-image: url('img/twitter.png');
    }

    .contact li.instagram a {
      background-image: url('img/instagram.png');
    }

@media screen and (max-width:600px) {
  /* Navigation Bar Styles */

  ul.navigation {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }

  li.navigation {
    display: block;
    float: right;
    font-size: 0.8em;
    font-weight: 600;

  }

  a.navigation {
    display: block;
    padding: 0.5em;
    background-color: #edc4cb;
  }

  .blogpostscontainer {
    margin-top: -4em;
  }
  .blogpostscontainer div {
    flex: 1 100%;
    padding: 0.3em;
  }

  .gridtitle {
    font-size: 1em;
    padding-top: 0.3em;
  }

  .signature {
    min-width: 35%;
  }

  .contactimage {
    width: 100%;
    margin-top: -20%;
  }
}
